<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VisorFacturas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VisorFacturas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <VisorFacturas.Properties.Settings>
            <setting name="DirectorioTablasCNZF" serializeAs="String">
                <value>\\172.16.30.16\Contabilidad-CNZF\Sisintfi\CxC\CZF</value>
            </setting>
            <setting name="DirectorioFacturasCNZF" serializeAs="String">
                <value>C:\VFactCNZF\Facturas</value>
            </setting>
            <setting name="DirectorioTablasRemisionCNZF" serializeAs="String">
                <value>\\172.16.30.16\Contabilidad-CNZF\Sisintfi\CxC\CZF\TempRemision</value>
            </setting>
            <setting name="DirectorioActivosFijosCNZF" serializeAs="String">
                <value>\\172.16.30.16\Contabilidad-CNZF\SISINTFI\AF\ZFM</value>
            </setting>
            <setting name="DirectorioTablasCZF" serializeAs="String">
                <value>\\172.16.30.16\contabilidad\APLIC\SISINTFI\PRICE\INVENT\CZF</value>
            </setting>
            <setting name="DirectorioFacturasCZF" serializeAs="String">
                <value>C:\VFactCZF\Facturas</value>
            </setting>
            <setting name="DirectorioTablasRemisionCZF" serializeAs="String">
                <value>\\172.16.30.16\contabilidad\APLIC\SISINTFI\PRICE\INVENT\CZF\TempRemision</value>
            </setting>
            <setting name="DirectorioActivosFijosCZF" serializeAs="String">
                <value>\\172.16.30.16\contabilidad\APLIC\SISINTFI\PRICE\AF\ZFM</value>
            </setting>
            <setting name="DirectorioCNZF_TablasBANCO" serializeAs="String">
                <value>\\172.16.30.16\contabilidad-cnzf\Sisintfi\CONTAB\CNZF</value>
            </setting>
            <setting name="DirectorioCZF_TablasBANCO" serializeAs="String">
                <value>\\172.16.30.16\contabilidad\APLIC\SISINTFI\PRICE\CONTAB\CZF</value>
            </setting>
        </VisorFacturas.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup><applicationSettings>
        <VisorFacturas.Properties.Settings>
            <setting name="mCnxCNZF_TablasCXC" serializeAs="String">
                <value>Provider=VFPOLEDB.1;Data Source=\\172.16.30.16\Contabilidad-CNZF\Sisintfi\CxC\CZF;Extended Properties=dBASE IV;</value>
            </setting>
            <setting name="VisorFacturas_ni_gob_bcn_servicios_Tipo_Cambio_BCN"
                serializeAs="String">
                <value>https://servicios.bcn.gob.ni/Tc_Servicio/ServicioTC.asmx</value>
            </setting>
            <setting name="mCnxCZF_TablasCXC" serializeAs="String">
                <value>Provider=VFPOLEDB.1;Data Source=\\172.16.30.16\contabilidad\APLIC\SISINTFI\PRICE\INVENT\CZF;Extended Properties=dBASE IV;</value>
            </setting>
            <setting name="mCnxCNZF_TablasBANCO" serializeAs="String">
                <value>Provider=VFPOLEDB.1;Data Source=\\172.16.30.16\contabilidad-cnzf\Sisintfi\CONTAB\CNZF;Extended Properties=dBASE IV;</value>
            </setting>
            <setting name="mCnxCZF_TablasBANCO" serializeAs="String">
                <value>Provider=VFPOLEDB.1;Data Source=\\172.16.30.16\contabilidad\APLIC\SISINTFI\PRICE\CONTAB\CZF;Extended Properties=dBASE IV;</value>
            </setting>
            <setting name="isNewDomain" serializeAs="String">
                <value>False</value>
            </setting>
        </VisorFacturas.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Tipo_Cambio_BCNSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="Tipo_Cambio_BCNSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://servicios.bcn.gob.ni/Tc_Servicio/ServicioTC.asmx" binding="basicHttpBinding" bindingConfiguration="Tipo_Cambio_BCNSoap" contract="myServiceReference_TC.Tipo_Cambio_BCNSoap" name="Tipo_Cambio_BCNSoap"/>
        </client>
    </system.serviceModel>
<connectionStrings><add name="SAFWINEntities" connectionString="metadata=res://*/DataNota.Modelo.csdl|res://*/DataNota.Modelo.ssdl|res://*/DataNota.Modelo.msl;provider=System.Data.SqlClient;provider connection string='data source=&quot;192.168.25.25\SQLS4K12, 1433&quot;;initial catalog=SAFWIN;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient"/></connectionStrings></configuration>
